<!DOCTYPE html>
<html>
<head>
<title>{{ title }} - Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
<h1>{{  title  }} Page</h1>
<div class="container">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="home">Home</a>
            <a class="navbar-brand" href="login">Login Page</a>
            <a class="navbar-brand" href="register">Registration Page</a>
            <a class="navbar-brand" href="about">About</a>
            <a class="navbar-brand" href="newpost">New Post</a>
        </nav>
</div>
{% block body_content %}
{% endblock %}
</body>
</html>
